*
{
    padding: 0;
    margin: 0;
}

a,
ul,
li {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    /* background-color: #ccc; */
    /* width: 100vw; */
    height: 100vw;
    /* overflow-x: hidden; */
}

.header_warp {
    height: 120px;
    /* display: none; */
    /* height: 8vw; */
    background-color: #f6f5ef;
    /* position: relative; */
    position: fixed;
    z-index: 100;
    width: 100%;
    border-top: 2px solid #4b0000;
    /* background-color: #fff; */
    /* height: 120px; */
}
.header_warp_inner {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* width: 100%; */
}

.header_warp .logo {
    width: 10%;
    /* background-color: #cdcd; */
}

.header_warp .logo > h1 >img{
    padding-top: 20%;
}

.header_warp .menu {
    width: 90%;
    /* background-color: rgba(30, 72, 30, 0.867);    */
}

.header_warp .menu .head_top {
    padding-top: 10px;
    justify-content: end;
    display: flex;
}

.header_warp .menu .head_top .login >ul {
    /* background-color: #fff; */
    display: flex;
}

.header_warp .menu .head_top .login >ul >li > a {
    padding-right: 20px;
    font-size: 12px;
    /* background-color: #fff; */
}

.header_warp .menu .nav {
    display: flex;
    justify-content: end;
    /* background-color: #fff; */
}

.header_warp .menu .nav >ul{
    padding-top: 20px;
    display: flex;
}
 
.header_warp .menu .nav >ul >li >a {
    /* background-color: #cdcd; */
    padding-left: 50px;
    font-size: 13px;
}

.header_warp .menu .nav >ul >li .nav_side{
    position: absolute;
    justify-content: center;
    width: 100%;
    left: 0px;
    top: 120px;
    /* padding-top: 20px; */
    /* background-color: #fff; */
    /* display: flex; */
    display: none;
}

.header_warp .menu .nav >ul >li .nav_side >ul {
    padding: 30px;
}

.header_warp .menu .nav >ul >li .nav_side >ul >li >a> h3 {
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 10px;
}

.header_warp .menu .nav >ul >li .nav_side >ul >li >a {
    font-size: 13px;
}
/* header */

.section {
    padding-top: 120px;
    width: 100%;
}

.img_wrap {
    width: 100%;
    /* background-color: #ccc; */
    /* height: 489px; */
}

.img_wrap .main_img {
}

.img_wrap .img_wrap_inner {
    width: 70%;
    justify-self: 100%;
    margin: 0 auto;
    position: relative;
    /* background-color: #ccc; */
}

.img_wrap .main_img > img {
    /* background-image: url(/img/autumn_top_bg.png); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_wrap .main_img {
    height: 500px;

}
.img_wrap .img_wrap_inner .main_text {
    position: absolute;
    bottom: 180px;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.img_wrap .img_wrap_inner .main_menu {
    position: absolute;
    text-align: center;
    bottom: 100px;
}

.main_menu .menu1 {
    position: absolute;
    bottom: 50px;
    left: 400px;
}

.main_menu .menu1 >img {
    width: 200px;
    object-fit: cover;
}

.main_menu .menu2 >img {
    width: 190px;
    object-fit: cover;
}

.main_menu .menu2 {
    position: absolute;
    bottom: -20px;
    left:660px;
}

.main_menu .menu3 >img {
    width: 200px;
    object-fit: cover;
}

.main_menu .menu3 {
    position: absolute;
    bottom: 50px;
    left: 900px;
}
/* main img */

.section .line_nav {
    display: flex;
    height: 60px;
    /* background-color: #000000; */
    width: 100%;
}

.section .line_nav .not {
    display: flex;
    line-height: 4;
    color: #ffffff;
    height: 100%;
    /* justify-content: space-between; */
    width:50%;
    justify-content: end;
    background-color: #000;
}

.section .line_nav .not .text {
    width: 20%;
    /* background-color: #fff; */
    font-weight: bold;
}

.section .line_nav .not .notice {
    width: 50%;
    line-height: 5;
    font-size: 12px;
    /* background-color: #bd8888; */
}
.section .line_nav .not .icon {
    width: 10%;
    /* background-color: #993838; */
}

.section .line_nav .icon_1::after {
    position: absolute;
    right: 30px;
    top: 10px;
    content: url(/img/+_icon.png);
    /* object-fit: cover; */
}

.section .line_nav .icon_1 {
    position: relative;
}

.section .line_nav .promtion {
    background: #f6f5ef;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width:50%;
}
.section .line_nav .promtion > p {
    width: 30%;
    line-height: 3.5;
    text-align: center;
    font-weight: bold;
}

.section .line_nav .promtion .icon_2 {
    width: 40%;
    position: relative;
}

.section .line_nav .promtion .icon_2::after {
    position: absolute;
    content: url(/img/check_icon.png);
    left: 40px;
    bottom: 10px;
}

.section .rewards {
    display: flex;
    background-color: #1e3932;
    height: 250px;
    color: #fff;
}

.section .rewards .rewards_inner {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* background-color: #fff; */
}

.section .rewards .rewards_inner .rewards_logo {
    /* background-color: #fff; */

}
.section .rewards .rewards_inner .rewards_logo >img {
    /* background-image: url(/img/rewards-logo.png); */
    width: 180px;
}

.section .rewards .rewards_inner .rewards_text {
    width: 100%;
    padding-left: 35px;
}

.section .rewards .rewards_inner .rewards_text .rewards_text1 {
    height: 10%;
    font-size: 26px;
    padding-bottom: 15px;
    /* background-color: red; */
}
.section .rewards .rewards_inner .rewards_text .rewards_text2 {
    height: 30%;
    display: flex;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    /* background-color: rgb(138, 74, 74); */
}

.section .rewards .rewards_inner .rewards_text .rewards_text2 .text {
    font-size: 17px;
}

.section .rewards .rewards_inner .rewards_text .rewards_text2 .btn {
    align-items: end;
    display: flex;
    /* background-color: #fff; */
    justify-content: end;
    width: 37%;
} 
.section .rewards .rewards_inner .rewards_text .rewards_text3 {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;

    /* background-color: rgb(157, 129, 129); */
}

.section .rewards .rewards_inner .rewards_text .rewards_text3 .text {
    font-size: 14px;
    padding-top: 15px;
}

.section .rewards .rewards_inner .rewards_text .rewards_text3 .btn {
    width: 28%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.section .bean {
    height: 550px;
}
.section .bean >img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.section .bean .bean_inner {
    display: flex;
    width: 70%;
    background-color: #ddd;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    position: relative;
    bottom: 550px;
    justify-content: center;
}

.section .bean .bean_inner .bean_img >img{
    width: 300px;
}